* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
}

.site-container {
  width: 100%;
  max-width: 1580px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero-section {
  background-image: url('Components/images/hero-bg.png');
  background-size: cover;
  background-position: top center;
  padding: 40px 0 127px;
}

.hero-section .hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 135px;
}


nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 45px;
}



nav a {
  text-decoration: none;
  color: #FEFCF8;
  font-weight: 500;
  line-height: 1.1;
}

a {
  font-size: 24px;
}

button {
  cursor: pointer;
}

.site-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.site-btn .sign-btn,
.search-btn,
.read-more-btn {
  padding: 13px 35px;
  border: 2px solid #FEFCF8;
  color: #FEFCF8;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
}

.site-btn .sign-btn:first-child {
  border: 2px solid transparent;
}

.site-btn .sign-btn:first-child:hover {
  color: #E16E4F;
}

.site-btn .sign-btn:last-child:hover {
  background-color: #E16E4F;
  border-color: #E16E4F;
}

button.hamberger-menu,
.cross-btn {
  background: transparent;
  border: none;
}

button.hamberger-menu {
  display: none;
}

.hero-main {
  color: #282A2E;
  width: 60%;
}

.mobile-navbar {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #282A2E;
  z-index: 999;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  transition: all 0.3s ease;
}

.mobile-navbar.show {
  top: 0;
}


.mobile-navbar nav ul {
  gap: 30px;
}

.mobile-navbar .site-btn .sign-btn, 
.mobile-navbar nav a{
  font-size: 20px;
}


.mobile-navbar .site-btn .sign-btn {
  padding: 12px 20px;
  transition: all 0.3s ease;
}

.mobile-navbar .site-btn .sign-btn:last-child:hover {
  background-color: #E16E4F;
  color: #282A2E;
  border-color: #282A2E;
}

.cross-btn {
  position: absolute;
  right: 20px;
  top: 40px;
}

h1{
  font-size: 90px;
  font-weight: 600;
  line-height: 1.11;
  margin-bottom: 30px;
}

h2 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.11;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.11;
}


h5 {
font-size: 30px;
font-weight: 600;
line-height: 1.33;
font-family: 'Poppins', sans-serif;
}

p, span {
font-size: 26px;
font-weight: 400;
line-height: 1.38;
}

.hero-main .description {
  margin-bottom: 46px;
  width: 70%;
}

.hero-info {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 48px;
}

.hero-info .counts-section {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.counts-section p {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.12;
}

p.items {
  font-size: 22px;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 30px 22px 35px;
  background-color: rgba(254, 251, 248, 0.54);
  border: 3px solid rgba(96, 104, 120, 0.50);
  border-radius: 10px;
}

.select-option-wrapper .info-wrapper:first-child {
  padding-right: 40px;
  border-right: 2px solid #ADB1BA;
}

.select-option-wrapper .info-wrapper:last-child {
padding-left: 78px;
}

.select-option-wrapper {
  display: flex;
}

.select-option-wrapper .info-wrapper p{
  font-size: 24px;
  font-weight: 600;
}


.select-option-wrapper .select-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
  background-color: transparent;
}

.search-btn {
  border: 2px solid #000;
  background: #282A2E;
  transition: all .3s ease ;
}


.search-btn:hover {
  background-color: #E16E4F;
  border-color: #E16E4F;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.animate-left,
.animate-right,
.animate {
  transition: 1s;
}

section .animate-left {
  transform: translateX(-100%);
}
section .animate-right {
  transform: translateX(100%);
}
section .animate {
  transform: scale(0.7);
}

section {
  overflow-x: hidden;
}

section.show-animation .animate-left,
section.show-animation  .animate-right {
  transform: translateX(0);
}
section.show-animation  .animate {
  transform: scale(1);
}

.about-us {
  margin-top: 115px;
  color: #FEFCF8;
  position: relative;
}

.about-us .about-us-wrapper {
  display: flex;
  align-items: center;
  gap: 135px;
  padding: 36px 0;
}
.about-us::before {
  content: "";
  width: 73%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #282A2E;
  z-index: -1;
  transition: 1s;
}


.image-section {
  width: 50%;
}

.about-us .image-section img {
  width: 100%;
}

.about-info {
  width: 50%;
}

.about-us h2, 
.about-us h5,
.feature-section h2, 
.feature-section .description{
  margin-bottom: 30px;
}

.about-us p {
  color: rgba(254, 251, 248, 0.54);
  font-size: 30px;
  margin-bottom: 40px;
}

.about-us .read-more-btn {
  color: #282A2E;
  border-color:  #000;
  background: #FEFCF8;
  transition: all 0.3s ease;
}

.about-us .read-more-btn:hover {
  background-color: #E16E4F;
  color: #FEFCF8;
  border-color: #E16E4F;
}



/* ------- residence section----*/

.residence-section {
  padding: 113px 0 150px;
  color: #282A2E;
}

.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* CardSlider.css */
.card-slider {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 0 50px;
  gap: 50px;
}

.card {
  padding: 15px 20px 20px;
  border-radius: 37px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: -5px 0px 34px 0px #D7D7D7;
}

.card .dolar-amount {
  color: #282A2E;
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px;
  display: flex;
}

.dolar-amount.dolar,
.dolar {
  color: #E16E4F;
}

.dolar-amount.dolar {
  margin-right: 4px;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 37px;
  margin-bottom: 45px;
}

.card h3 {
  margin-bottom: 20px;
}

.card .description {
  color: #606878;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2
}
.btn-wrapper{
  display: flex;
  gap: 30px;
}

.slider-button {
  border: none;
  width: 81px;
  height: 77px;
  cursor: pointer;
  border-radius: 13px;
  background: #FAEFE5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.slider-button:hover {
  background: #eedcca;
}

.slider-button.next {
  transform: rotate(180deg);
}

/* CardSlider.css */

.pagination-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dot {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #FFE4D6;
}

.dot.active {
  background-color: #E16E4F; 
}
@media screen and (min-width: 768px) {

  .cards-container {
    display: flex;
    justify-content: space-between;
  }

  .card {
    flex-basis: calc(33.33% - 20px); 
  }
}


@media screen and (max-width: 767px) {

  .cards-container {
    flex-direction: column; 
  }

  .card {
    width: 100%; 
    margin-bottom: 20px; 
  }
}


/*------ agent-section-----*/

.agent-section{
  color: #282A2E;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 150px;
}

.agent-section .agent-wrapper {
  display: flex;
  align-items: center;
  gap: 135px;
  padding: 36px 0;
}
.agent-section::before {
  content: "";
  width: 35%;
  height: 80%;
  position: absolute;
  top: 0;
  right: 0;
  background: #282A2E;
  z-index: -1;
  transition: 1s;
}

.agent-section h2,
.choose-us-wrapper h2 {
  margin-bottom: 30px;
}

.agent-section p {
  font-family: 'Poppins', sans-serif;
  color: #606878;
}


.agent-section .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.agent-section .image-section img {
  width: 50%;
}

/*------ agent-section-----*/

/*------ Choose-us-section-----*/

.choose-us-section{
  color: #282A2E;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 150px;
}

.choose-us-section .choose-us-wrapper {
  display: flex;
  align-items: center;
  gap: 135px;
  padding: 36px 0;
}

.choose-us-section::before {
  content: "";
  width: 35%;
  height: 80%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #282A2E;
  z-index: -1;
  transition: 1s;
}
.choose-us-section.show-animation::before {
  left: 0;
}

.choose-us-section p {
  color: #606878;
}

.choose-us-section .image-section {
  width: 55%;
  position: relative;
}

.choose-us-section .image-section .play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 109px;
  height: 109px;
  background-color: #FFF5EC;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}

.choose-us-section .image-section .play-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}

.choose-us-section .image-section img {
  width: 100%;
}

.choose-us-section .about-info {
  width: 45%;
}


.choose-us-section .about-info .description{
  margin-bottom: 55px;
}
.choose-us-section .property-info-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}

.choose-us-section .property-info-wrapper .single-info{
  padding: 30px 50px;
  border: 1px solid #606878;
  transition: all 0.3s ease;
}

.choose-us-section .property-info-wrapper .single-info:hover{
  border-color:  #000;
  background: #E16E4F;
}

.choose-us-section .property-info-wrapper .single-info:hover h5,
.choose-us-section .property-info-wrapper .single-info:hover p {
  color: #FFF5EC;
}

.choose-us-section .property-info-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
}

.choose-us-section .property-info-wrapper .single-info{
  padding: 30px 50px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.choose-us-section .property-info-wrapper .single-info .icon {
  width: 109px;
  height: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF5EC;
  border-radius: 50%;
}

.choose-us-section .property-info-wrapper .single-info .text-wrapper {
  width: calc(100% - 136px);
  text-align: left;
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease;
}

.overlay-wrapper .video-wrapper {
  position: relative;
}

.overlay-wrapper .video-wrapper .cross-btn {
  right: -10px;
  top: -10px;
  background: #ffffff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.overlay-wrapper .video-wrapper .cross-btn svg {
  width: 12px;
  height: 12px;
}

.overlay-wrapper .video-wrapper .cross-btn svg path{
  fill: #282A2E;
  stroke: #282A2E;
}


/*------ Choose-us-section-----*/



/*------ Feature-section-----*/

.feature-section {
  color: #282A2E;
  text-align: center;
  overflow: hidden;
  padding-bottom: 100px;
}

.feature-section .feature-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.feature-section .feature-wrapper .description {
  width: 80%;
}

.feature-section .feature-wrapper .word-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin-bottom: 60px;
}

.word-wrapper span {
  color: #606878;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.word-wrapper span:hover{
  color: #E16E4F;
}

.feature-card-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 55px;
}

.feature-card-wrapper .signle-card {
  width: calc(100% / 3 - 20px);
  transition: all 0.3s ease;
}

.signle-card .text-wrapper {
  padding: 35px 0 50px;
  box-shadow: 0px -5px 25px 0px #FFF5EC;
  background: #ffffff;
}

.feature-card-wrapper .signle-card:hover {
  transform: scale(1.2);
  z-index: 2;
}
.feature-section .signle-card img {
  width: 100%;
}

.feature-section .signle-card .title {
  margin-bottom: 60px;
}

.feature-section .signle-card .text {
  margin-bottom: 25px;
}

.feature-section .signle-card .text:last-child {
  margin-bottom: 0px;
}

.feature-section .search-btn {
  margin-bottom: 150px;
}

.feature-logo-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.feature-logo-wrapper img {
  width: calc(100% / 4 - 20px);
}


/*------ Feature-section-----*/


/*------ footer-section-----*/
.footer-section {
  padding: 70px 0 15px;
  color: #FEFCF8;
  background: #282A2E;
}

.footer-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-bottom: 57px;
  justify-content: space-between;
}

.single-wrapper {
  width: calc(100% / 4 - 10px);
}

.footer-wrapper .footer-logo{
  margin-bottom: 48px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social-media img {
  width: calc(100% / 5 - 30px);
  max-width: 36px;
}

.single-wrapper.links {
  max-width: 145px;
}

.single-wrapper .title {
  margin-bottom: 34px;
  color: #E16E4F;
}

.single-wrapper .text {
  color: #FEFCF8;
  font-weight: 500;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.single-wrapper a{
  text-decoration: none;
}

.single-wrapper a:hover {
  text-decoration: underline;
}

.single-wrapper .text:last-child {
  margin-bottom: 0px;
}

.single-wrapper .property-img-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 15px;
}
.single-wrapper .property-img-wrapper:last-child {
  margin-bottom: 0;
}

.single-wrapper .property-img-wrapper .text {
  margin-bottom: 8px;
}
.single-wrapper .property-img-wrapper .text:last-child {
  margin-bottom: 0;
}

.single-wrapper .property-img-wrapper img {
  border-radius: 11px;
  max-width: 106px;
  width: 100%;
  aspect-ratio: 4/3;
}


.footer-section .copy-right{
  padding-top: 10px;
  text-align: center;
  color: #FAF1EB;
}
hr {
  border-bottom: none;
}


/*------ footer-section-----*/

@media only screen and (max-width: 1699px ){
  .site-container {
    max-width: 1400px;
  }

  .about-us .about-us-wrapper,
  .agent-section .agent-wrapper,
  .choose-us-section .choose-us-wrapper {
    gap: 80px;
  }

  h2 {
    font-size: 60px;
  }

  .about-us h5, .about-us p {
    font-size: 28px;
  }

  .about-us h2, .about-us h5 {
    margin-bottom: 20px;
  }

  .btn-wrapper{
    gap: 20px;
  }

  .slider-button {
    width: 44px;
    height: 44px;
  }

  .card .dolar-amount {
    font-size: 30px;
  }

  .dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #FFE4D6;
  }

  .choose-us-section .about-info .description{
    margin-bottom: 35px;
  }

  .choose-us-section .property-info-wrapper .single-info{
    padding: 20px 25px;
    gap: 20px;
  }



  .choose-us-section .property-info-wrapper .single-info .icon {
    width: 60px;
    height: 60px;
  }

  .choose-us-section .property-info-wrapper .single-info .icon img{
    width: 25px;
    height: 25px;
  }

  .choose-us-section .property-info-wrapper .single-info .text-wrapper {
    width: calc(100% - 80px);
  }

  .choose-us-section .image-section .play-btn{
    width: 60px;
    height: 60px;
  }

  .choose-us-section .image-section .play-btn svg{
    width: 25px;
    height: 30px;
  }

  .feature-section .signle-card .title {
    margin-bottom: 30px;
  }

  .footer-wrapper .footer-logo{
    margin-bottom: 30px;
  }

  .social-media {
    gap: 20px;
    margin-bottom: 20px;
  }

  .social-media img {
    width: calc(100% / 5 - 20px);
  }

  .footer-wrapper {
    padding-bottom: 40px;
  }

  .single-wrapper .title {
    margin-bottom: 25px;
  }

  .single-wrapper .text,
  .single-wrapper .property-img-wrapper {
    gap: 20px;
  }

  .single-wrapper .property-img-wrapper img {
    max-width: 60px;
  }
}

@media only screen and (max-width: 1399px ){
  .site-container {
    max-width: 1200px;
  }

  .site-btn .sign-btn,
  a,
  p,
  span,
  p.items,
  .select-option-wrapper .select-btn,
  .read-more-btn,
  .search-btn,
  .card .description{
    font-size: 18px;
  }

  .select-option-wrapper .info-wrapper p {
    font-size: 22px;
    margin-bottom: 7px;
  }


  .counts-section p {
    font-size: 24px;
  }

  .site-btn {
    gap: 10px;
  }

  .site-btn .sign-btn {
    padding: 11px 24px;
  }

  h1{
    font-size: 68px;
  }
 h2 {
    font-size: 58px;
  }

  h3 {
    font-size: 28px;
  }


  h5 {
    font-size: 25px;
  }

  .about-us p {
    font-size: 25px;
  }


  .select-option-wrapper .info-wrapper:first-child {
    padding-right: 30px;
  }
  
  .select-option-wrapper .info-wrapper:last-child {
  padding-left: 45px;
  }

  .about-us h5, .about-us p {
    font-size: 25px;
  }

  .card .dolar-amount {
    font-size: 25px;
  }

  .dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #FFE4D6;
  }

  .agent-section,
  .choose-us-section {
    padding-bottom: 80px;
  }

  .choose-us-section .about-info .description {
    margin-bottom: 25px;
}

.feature-section .signle-card .text {
  margin-bottom: 15px;
}

.feature-section .signle-card .text:last-child {
  margin-bottom: 0px;
}
.feature-section .search-btn {
  margin-bottom: 80px;
}

.feature-section {
  padding-bottom: 80px;
}



}

@media only screen and (max-width: 1199px ){
  .site-container {
    max-width: 1000px;
  }

  .hero-main {
    width: 70%;
  }
  .card .dolar-amount {
    font-size: 22px;
  }

  .feature-section .feature-wrapper .word-wrapper {
    gap: 30px;
    margin-bottom: 35px;

  }
}

@media only screen and (max-width: 991px ){
  .site-container {
    max-width: 700px;
  }

  .hero-main {
    width: 100%;
  }

  .hero-section .hero-header { 
    margin-bottom: 80px;
  }

  .site-btn .sign-btn,
  .search-btn {
    padding: 10px 15px;
  }

  .site-btn .sign-btn,
  a,
  p,
  p.items,
  .select-option-wrapper .select-btn,
  .search-btn,
  .read-more-btn {
    font-size: 16px;
  }

  nav ul {
      gap: 20px;
  }

  .about-us .about-us-wrapper { 
    flex-flow: column wrap;
  }

  .about-us {
    margin-top: 0;
    padding-top: 40px;
  }

  .about-us::before,
  .agent-section::before {
    width: 100%;
  }

  .agent-section {
  color: #FEFCF8;
  }

  .agent-section .agent-wrapper,
  .choose-us-section .choose-us-wrapper {
    flex-flow: column wrap;
  }

  .choose-us-section::before {
    display: none;
  }

  .image-section,
  .about-info,
  .choose-us-section .image-section,
  .choose-us-section .about-info {
    width: 100%;
  }

  .residence-section {
    padding-bottom: 80px;
  }

  .footer-wrapper {
    gap: 40px;
    justify-content: flex-start;
  }

  .single-wrapper {
    width: calc(100% / 2 - 20px);
  }

}

@media only screen and (max-width: 767px ){

  .hero-section .hero-header {
    gap: 20px;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  .about-us h5, .about-us p {
    font-size: 22px;
  }

  .hero-main .description {
    margin-bottom: 30px;
  }

  .hero-info {
    gap: 20px;
  }

  .feature-section .feature-wrapper .description {
    width: 100%;
  }

  .feature-section .feature-wrapper .word-wrapper {
    gap: 20px;
  }
  
  .feature-section .feature-wrapper .word-wrapper span{
    width: calc(100% / 3 - 20px);
  }

  .feature-card-wrapper {
    flex-flow: column wrap;
  }

  .feature-card-wrapper .signle-card {
    width: calc(100% - 100px);
    margin: 0 auto;
  }

  .residence-section,
  .agent-section, 
  .choose-us-section {
    padding-bottom: 60px;
 }
}


@media only screen and (max-width: 575px ){

  .hero-section {
    padding: 30px 0 400px ;
    background-image: url('Components/images/mobile-hero-bg.png');
    background-position: top;
  }

  nav ul {
    flex-flow: column wrap;
  }

  .search-section {
    gap: 13px;
    padding: 15px;
  }

  .select-option-wrapper .select-btn {
    gap: 5px;
  }

  .select-option-wrapper {
    gap: 15px;
  }

  .select-option-wrapper .select-btn {
    font-size: 12px;
  }

  .select-option-wrapper .info-wrapper p {
    font-size: 20px;
  }

  .select-option-wrapper .info-wrapper:first-child {
    padding-right: 12px;
  }
  .select-option-wrapper .info-wrapper:last-child {
    padding-left: 0px;
  }

  h1 {
    font-size: 45px;
  }
 h2 {
    font-size: 35px;
  }

  .hero-main .description {
    width: 80%;
  }

  button.hamberger-menu {
    display: block;
  }

  .site-btn,
  .navbar {
    display: none;
  }


  .mobile-navbar .site-btn,
  .mobile-navbar .navbar {
    display: flex;
  }

  .feature-section .search-btn {
    margin-bottom: 40px;
  }

  .feature-logo-wrapper img {
    width: calc(100% / 2 - 20px);
  }

  .footer-wrapper {
    flex-flow: column wrap;
    align-items: center;
  }

  .single-wrapper.links {
    max-width: 100%;
  }

  .single-wrapper {
    width: 100%;
  }

  .social-media {
    justify-content: flex-start;
  }

  .overlay-wrapper .video-wrapper {
    width: 90%;
  }

  .overlay-wrapper .video-wrapper  iframe {
    width: 100%;
    aspect-ratio: 4/3;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






